In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("F:\\New folder\\ML\\CSV files\\covid_toy.csv")

In [3]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [4]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [5]:
x_train,x_test,y_train,_y_test = train_test_split(df.drop('has_covid',axis=1),df['has_covid'],test_size=0.2,random_state=42)

In [6]:
# Define the column that need to be processed
categorical_fearutres=['gender','city']
numerical_fearutres=['age','fever']

In [7]:
# create transformer
numeric_transformer=Pipeline(steps=[
    ('imputer',SimpleImputer(strategy='mean')),
    ('scaler',StandardScaler())
])

catogrical_transformer=Pipeline(steps=[
    ('imputer',SimpleImputer(strategy='most_frequent')),
    ('scaler',OneHotEncoder(handle_unknown='ignore'))
])

# combine transformer
preprocessor=ColumnTransformer(
transformers=[
    ('num',numeric_transformer,numerical_fearutres),
    ('cat',catogrical_transformer,categorical_fearutres)
])

# create the pipeline
clf=Pipeline(steps=[('preprocessor',preprocessor),
                   ('classifier',LogisticRegression())])

# Train the model
clf.fit(x_train,y_train)

# Evaluate the model
y_pred=clf.predict(x_test)

In [8]:
y_pred

array(['No', 'Yes', 'No', 'No', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes',
       'No', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'Yes', 'No'],
      dtype=object)

In [9]:
from sklearn.metrics import accuracy_score

In [10]:
acc=accuracy_score(_y_test,y_pred)

In [11]:
acc

0.65